@import '../env/index';

.pc {
  display: block !important;

  @include mq(md) {
    display: none !important;
  }
}

.sp {
  display: none !important;

  @include mq(md) {
    display: block !important;
  }
}
