@import './env/index';

.wrap {
  width: 800px;
  height: 500px;
  background: var(--color-white);
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 100;
  opacity: 0;
  transition: 1s;
  overflow: hidden;

  &.expand {
    animation: 1s expandKey;
    animation-fill-mode: forwards;
  }

  &.shrink {
    animation: 0.5s shrinkKey;
    animation-fill-mode: forwards;
  }

  @include mq(md) {
    width: get_vw(300);
    height: get_vw(160);
  }
}

@keyframes shrinkKey {
  from {
    opacity: 1;
    width: calc(90% - 20px);
    height: calc(80% - 20px);
  }
  to {
    opacity: 0;
  }
}

@keyframes expandKey {
  from {
    opacity: 0;
    width: 1%;
    height: 1%;
  }
  to {
    opacity: 1;
    width: calc(90% - 20px);
    height: calc(80% - 20px);
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;

  &.expand {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  @include mq(md) {
    justify-content: center;
    flex-direction: column;
    padding: get_vw(10);
  }

  figure {
    width: 600px;
    height: 324px;
    position: relative;

    @include mq(md) {
      width: get_vw(300);
      height: get_vw(161);
    }

    iframe,
    a {
      width: 73%;
      height: 88%;
      position: absolute;
      left: 17%;
      top: 1%;
      border-radius: 5px;
    }

    iframe {
      body {
        overflow: hidden;
      }
    }

    a {
      z-index: 10;
      transition: 0.5s;

      &:hover {
        background: var(--color-hover-white);
      }
    }

    img {
      min-width: 100%;
      height: 100%;
      z-index: 20;
      pointer-events: none;
    }
  }

  article {
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.6;
    padding-left: 30px;
    box-sizing: border-box;

    span {
      margin-left: 10px;

      &.hide {
        display: none;
      }
    }

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
      margin-top: 15px;

      &:first-of-type {
        margin-top: 30px;
      }
    }

    @include mq(md) {
      width: 100%;
      height: auto;
      max-height: calc(100% - get_vw(161));
      overflow-y: scroll;
      margin-top: get_vw(20);
      padding: 0 0 get_vw(20);
      display: block;

      span {
        margin-left: 0;
      }

      h2 {
        font-size: get_vw(24);
      }

      p {
        font-size: get_vw(12);
        margin-top: get_vw(10);

        &:first-of-type {
          margin-top: get_vw(15);
        }
      }

      b {
        display: block;
      }
    }
  }
}
