@import './env/index';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--color-black);
}

.leftFixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  font-size: 25vh;
  color: var(--color-white);
  text-indent: -2vh;
  opacity: 0.1;
  writing-mode: vertical-rl;
  text-align: center;
  bottom: 0;
  margin: auto;
  text-align: center;
  mix-blend-mode: difference;
}

.fukuoka {
  position: fixed;
  right: -100vh;
  bottom: -10vh;
  margin: auto;
  z-index: 30;
  mix-blend-mode: difference;
  width: 253vh;
  height: 119vh;

  .img {
    width: 100%;
    height: 100%;
  }

  @include mq(md) {
    right: auto;
    bottom: 0;
    width: get_vw(1281);
    height: get_vw(600);
    right: get_vw(-600);
  }
}

.particles {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  mix-blend-mode: difference;
}

.rect {
  /*
  * 縦横は基本 animation で制御してるが
  * First view だけデフォルトが適用されるので必要になる
  **/
  width: 900px;
  height: 500px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  z-index: 50;
  transition: 0.5s;
  mix-blend-mode: difference;

  @include mq(md) {
    width: get_vw(340);
    height: get_vw(200);
  }

  &::before {
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 0;
    width: 200%;
    height: 200%;
    content: '';
    background-image: linear-gradient(var(--color-white), var(--color-white)),
      linear-gradient(var(--color-black), var(--color-black)),
      linear-gradient(var(--color-white), var(--color-white)),
      linear-gradient(var(--color-black), var(--color-black));
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 50% 50%, 50% 50%;
    animation: rotateKey 10s linear infinite;
    animation-fill-mode: forwards;
  }

  &::after {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 10;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    content: '';
    border-radius: 5px;
    background: var(--color-black);
  }

  &.profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px dotted var(--color-white);
    animation: 1s rotation infinite;
    bottom: 520px;
    z-index: 200;
    mix-blend-mode: difference;

    &::before,
    &::after {
      opacity: 0;
    }

    @include mq(md) {
      border: 2px dotted var(--color-white);
      width: 12vh;
      height: 12vh;
      bottom: 70vh;
    }
  }

  &.expand {
    animation: 1s expandKey;
    animation-fill-mode: forwards;

    @include mq(md) {
      animation: 1s expandSPKey;
      animation-fill-mode: forwards;
    }
  }

  &.firstShrink {
    animation: 0.5s firstShrinkKey;
    animation-fill-mode: forwards;

    @include mq(md) {
      animation: 0.5s firstShrinkSPKey;
      animation-fill-mode: forwards;
    }
  }

  &.shrink {
    animation: 0.5s shrinkKey;
    animation-fill-mode: forwards;
  }
}

.arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 30px;
  bottom: 40px;
  background: var(--color-white);
  border-radius: 100%;
  z-index: 40;

  @include mq(md) {
    width: get_vw(40);
    height: get_vw(40);
    right: 15px;
    bottom: 10px;
  }

  &.up {
    transform: rotate(180deg);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
  }

  &::before {
    width: 110%;
    height: 110%;
    background: var(--color-white);
    border-radius: 50%;
    animation: pulseKey 2s ease-out infinite;
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    content: '';
    width: 80%;
    height: 80%;
    background: var(--color-black);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;
    margin: auto;
    z-index: 0;
  }
}

.arrowInner {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;

  &::after,
  &::before {
    content: '';
    width: 35%;
    height: 3px;
    background: var(--color-white);
    position: absolute;
    right: 0;
    bottom: 42%;
    margin: auto;
  }

  &::after {
    transform: rotate(135deg);
    left: 22%;
  }

  &::before {
    transform: rotate(45deg);
    left: -22%;
  }
}

.secondBlocks {
  width: 100%;
  height: 100%;
  background: var(--color-white);
  position: relative;
  z-index: 20;
}

/*
* keyframes
**/
@keyframes rotateKey {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes firstShrinkKey {
  from {
    width: calc(90% - 20px);
    height: calc(70% - 20px);
  }
  to {
    width: 900px;
    height: 500px;
  }
}

@keyframes firstShrinkSPKey {
  from {
    width: calc(90% - 20px);
    height: calc(90% - 20px);
  }
  to {
    width: get_vw(340);
    height: get_vw(200);
  }
}

@keyframes shrinkKey {
  from {
    opacity: 0;
  }
  to {
    width: 1px;
    height: 1px;
  }
}

@keyframes expandKey {
  from {
    width: 1%;
    height: 1%;
  }
  to {
    width: calc(90% - 10px);
    height: calc(70% - 10px);
  }
}

@keyframes expandSPKey {
  from {
    width: 1%;
    height: 1%;
  }
  to {
    width: calc(90% - 10px);
    height: calc(80% - 10px);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulseKey {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
