:root {
  --color-hover-white: rgba(255, 255, 255, 0.5);
  --color-white: #fff;
  --color-white09: rgba(255, 255, 255, 0.9);
  --color-white08: rgba(255, 255, 255, 0.8);
  --color-black: #000;
  --color-black09: rgba(0, 0, 0, 0.9);
  --color-black05: rgba(0, 0, 0, 0.5);
  --color-black02: rgba(0, 0, 0, 0.2);
  --color-red: #ff0000;
  --color-gold: #f0e68c;
  --color-gray: #c0c0c0;
}
